header {
  margin: auto;
  width: 100%;
  text-align: center;
}

button {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: white;
	font-size: 25px;
	font-weight: bold;
	background-color: tomato;
	padding: 15px 32px;
	border-radius: 5px;
	outline:none;
}

.user { 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	display: inline-block;
	font-size: 40px;
	padding: 4px 0px;
	width: 340px;
	text-align: right;
	letter-spacing: -1px;
	color: #232323;
	font-weight: bold;
}

.message {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: absolute;
    left: 700px;
    padding-top: 15px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 12px;
    margin-top: 10px;
	font-size: 22px;
	background-color: #f7f1de;
	width: auto;
	height: 30px;
	border-radius:10px;
	font-weight: 200;
}

.time {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	text-align: right;
	width: 335px;
	height: 20px;
	color: #262525;
	position: relative;
	bottom: 10px;

}

.highlight {
	background-color: #e57e7e;
	color: black;
}

.wrapper {	
  margin:auto;
  width: 53%;
  text-align:left;
}

